.jumbotron
{
    background-color:#000000;
    color:#eeeeee;
    font-family: "Times New Roman", Times, serif;
}

.row{
    background-color:#000000;
    color:#eeeeee;
}

.panel-body{
    background-color:#000000;
    color:#eeeeee;
}